.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    gap: 1vh;
    padding: 3vw;
    padding-top: 0;
}

.copyable {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.copyable.scale {
    animation: click-anim 0.5s ease forwards;
}

@keyframes click-anim {
    0% {transform: scale(1); background-color: transparent; }
    50% {transform: scale(1.05); background-color: rgba(0, 0, 0, 0.1); }
    100% {transform: scale(1); background-color: transparent; }
}

.contact-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3vw;
    padding-bottom: 0.5vw;
    width: 100%;
}