.light-toggle {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0;
    top: 0;

    padding: 2rem;
}

#switch {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    width: 5rem;
    aspect-ratio: 2 / 1;
    padding: 0.25rem;

    background-color: rgb(46, 50, 70);
    border-radius: 35%;
    transition: transform 0.3s ease;
}

#switch.dark-mode {
    background-color: whitesmoke;
}

#knob {
    content: "";
    position: absolute;
    cursor: pointer;

    min-width: 40%;
    aspect-ratio: 1 / 1;

    background-color: whitesmoke;
    background-image: url('../images/knob_lm.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.5s ease;
}

#knob.dark-mode {
    /* 110%  because the knob is 40% of the switch, therefore only 100% would move it 40% of the slider*/
    transform: translateX(110%);
    background-color: rgb(46, 50, 70);
    background-image: url('../images/knob_dm.jpg');
}

.dark-mode-bg {
    transition: background-color 0.2s ease;
}

.dark-mode-bg.active {
    background-color: rgb(46, 50, 70);
}

.dark-mode-text {
    transition: color 0.2s ease;
}

.dark-mode-text.active {
    color: whitesmoke;
}

.dark-mode-border {
    transition: border-color 0.2s ease
}

.dark-mode-border.active {
    border-color: whitesmoke;
}

.dark-mode-img {
    transition: background-image 0.3s ease;
}

/* Icon base styles */
.icon {
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.icon-large {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.icon-medium {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

/* GitHub icon light/dark mode */
.github-icon {
    background-image: url('../images/github_icon_lm.png');
}

.github-icon.active {
    background-image: url('../images/github_icon_dm.png');
}

/* Instagram icon light/dark mode */
.insta-icon {
    background-image: url('../images/insta_icon_lm.png');
}

.insta-icon.active {
    background-image: url('../images/insta_icon_dm.png');
}

/* Initials icon light/dark mode */
.initials-icon {
    background-image: url('../images/initials_lm.png');
}

.initials-icon.active {
    background-image: url('../images/initials_dm.png');
}