/* style sheet for panels */

.panels-wrapper {
    display: flex;
    justify-content: center;

    height: 70vh;
    gap: 5rem;
    padding: 5rem;
}

.panel {
    display: flex;
    flex-direction: row;

    width: 50%;
    gap: 5rem;
    padding: 2.5rem;

    background-color: whitesmoke;
    transition: background-color 0.2s ease;
}

.panel.dark-mode {
    background-color: rgb(51, 55, 75);
}

.card-style {
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13);
}

/* panel description */

.panel-desc {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 60%;
}

.panel-head {
    display: flex;
    min-height: 75%;
    gap: 2rem;
    margin-bottom: 1rem;

    flex-direction: column;
    overflow: hidden;
}

/* panel carousel */

.panel-carousel {
    width: 50%;
    height: 100%;

    position: relative;

    background-color: black;
    overflow: hidden;
}

.carousel-number {
    position: absolute;
    padding: 1rem;
    color: whitesmoke;
}

.carousel-slide {
    display: none;
    
    width: 100%;
    height: 100%;
}

.carousel-slide img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.prev, .next {
    position: absolute;
    cursor: pointer;
    user-select: none;

    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;

    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
}

.prev {
    left: 0;
    border-radius: 0 15% 15% 0;
}

.next {
    right: 0;
    border-radius: 15% 0 0 15%;
}

.prev:hover, .next:hover {
    background-color: rgba(46, 50, 70, 0.8);
}

.selector-wrapper {
    display: flex;
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.selector {
    display: inline-block;
    cursor: pointer;

    width: 1.5vh;
    aspect-ratio: 1 / 1;
    margin: 0.5rem;
    margin-bottom: 1rem;

    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.selector:hover, .selector.active {
    background-color: rgba(245, 245, 245, 0.9);
}