body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;

    min-height: 100vh;

    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    color: rgb(46, 50, 70);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    line-height: 2.5;
    color: inherit;
}

.img-redirect img {
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    width: 2rem;
}

.img-redirect:hover img {
    filter: brightness(2);
    transform: scale(1.05);
}

/* header bar */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: inherit;
    align-items: center;
    position: relative;

    gap: 1rem;
    padding-inline: 2%;
    padding-block: 1%;

    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.13);
    background-color: whitesmoke;
}

.gap-reduce {
    margin-bottom: -1rem;
}

.contexts {
    display: flex;
    align-items: inherit;
    justify-content: center;

    min-width: 100%;
    gap: 1rem;
}

.txt-redirect {
    transition: filter 0.3s ease, text-decoration 0.3s ease;
    cursor: pointer;
}

.txt-redirect:hover {
    filter: brightness(2);
    text-decoration: underline;
}

.social-icons {
    display: flex;
    align-items: inherit;
    justify-content: center;

    min-width: 100%;
    gap: 2rem;
}

/* contents below header */

.app-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.parallax-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 80vh;

    background-image: url('/images/marble_bg_black.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#intro-card {
    display: inline-block;
    min-width: 36rem;
    min-height: 15rem;
    background-image: url('/images/name_box_lm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 0.2s ease;
}

#intro-card.dark-mode {
    background-image: url('/images/name_box_dm.jpg');
}

/* contents below parallax */

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;

    height: 100%;
    width: 100%;
    
    background-color: whitesmoke;
}

.section-header {
    text-align: center;
    border-bottom: 2px solid rgb(46, 50, 70);
    border-width: 0.15rem;
    border-color: rgb(46, 50, 70);
    width: 100%;
}

/* animations */

.fade {
    --fade-start: 0.6;
    --fade-duration: 0.5s;

    animation-name: fade;
    animation-duration: var(--fade-duration, 0.5s);
}

@keyframes fade {
    from {opacity: var(--fade-start, 0.6); }
    to {opacity: 1; }
}

/* fonts */

@font-face {
    font-family: "Poppins";
    src: url('/fonts/poppins-v24-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('/fonts/poppins-v24-latin-600italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@media (max-width: 768px) {
    .main-wrapper {
        padding: 3vw;
    }

    .img-redirect:hover img {
        transform: scale(1);
    }
}