body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;

    background-color: rgb(240, 240, 245);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;

    background-color: rgb(230, 230, 240);
}

.header-icons {
    align-items: inherit;
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}